.app {
  padding: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #56b003;
  color: white;
  border: 0;
  border-radius: 0.1rem;
  box-shadow: 1px 1px 1px gray;
  transition: box-shadow 0.2s ease;
}

button:hover {
  box-shadow: 0 10px 15px gray;
}

button > * {
  vertical-align: middle;
}
