.cell {
    width: 75px;
    height: 50px;
    outline: none;
    border: 1px solid lightgray;
}

.cell-header {
    text-align: center;
    font-weight: bold;
    background-color: #b5b5b5;
}

.cell-header.active {
    color: white;
    background-color: #238fff;
}